@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  margin: 0;
  padding: 0;
}

/* Efeito Neon que você usou no código */
.neon-glow {
  text-shadow: 0 0 10px rgba(220, 0, 0, 0.7), 0 0 20px rgba(220, 0, 0, 0.5);
}

.neon-border {
  box-shadow: 0 0 15px rgba(220, 0, 0, 0.4);
}
